@font-face {
  font-family: "SFPRO-Regular";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF");
  font-style: normal;
}
@font-face {
  font-family: "SFPRO-Medium";
  src: url("./assets/fonts/SFPRODISPLAYMEDIUM.OTF");
  font-style: normal;
}
@font-face {
  font-family: "SFPRO-Bold";
  src: url("./assets/fonts/SFPRODISPLAYBOLD.OTF");
  font-style: normal;
}

:root {
  --me-dark-color: #3a444e;
  --me-grey-color: #cbcbcb;
  --me-bg-color: #fcf4f2;
  --me-visited-color: purple;
  --sfpro-bold: "SFPRO-Bold";

  body {
    background-color: var(--me-bg-color);
    display: grid;
    grid-template-rows: 20vh 80vh;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--me-dark-color);
  }

  .container {
    padding: 30px;
    align-self: center;
  }

  @mixin color($color) {
    color: $color;
  }

  @mixin font($font) {
    font-family: $font;
  }

  @mixin place-items($place) {
    place-items: $place;
  }

  header {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 30px;
    align-items: center;
    font-size: 5vw;
    padding-bottom: 20px;
    @include color(var(--me-dark-color));
    @include font(var(--sfpro-bold));
    border-bottom: 1px solid var(--me-grey-color);
    width: max-content;
    img {
      height: 5vw;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    section {
      @include font("SFPRO-Bold");
      @include color(var(--me-dark-color));
      display: grid;
      grid-template-rows: repeat(2, min-content) 1fr;
      &:nth-child(1) {
        @include place-items(start);
      }
      &:nth-child(2) {
        @include place-items(center);
      }
      &:nth-child(3) {
        @include place-items(end);
        text-align: end;
      }
      img {
        height: 15vw;
      }
    }
  }

  article {
    display: grid;
    grid-auto-rows: min-content;
    padding-top: 20px;
    font-size: 3vw;
    span {
      padding-bottom: 20px;
    }
    &:nth-child(1) {
      @include place-items(start);
    }
    &:nth-child(2) {
      @include place-items(start);
    }
    &:nth-child(3) {
      @include place-items(end);
    }
  }

  .links {
    width: 100%;
    display: grid;
    row-gap: 20px;
    &__item {
      font-size: 1.3vw;
      @include font("SFPRO-Regular");
      cursor: pointer;
      border-bottom: 1px solid var(--me-grey-color);
      padding-bottom: 10px;
      transform: translateX(0em);
      transition: transform 200ms;
      &::after {
        content: "#";
        @include color(var(--me-dark-color));
        display: inline-block;
        text-align: end;
        width: 0.75em;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms;
      }
      &:hover {
        transform: none;
      }
      &:hover::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
